# Problem Set 2

## Question 1
### Consider the following Python module:

In [3]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

### After importing the module into the interpreter, you execute:

In [4]:
b()
b()
b()
a

6

### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In every statement, the global variable is called and is passed into method c() where 2 is added to it and a value is returned. But, this new value is stored in the global variable. Hence the result.

## Question 2
### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [21]:
def fileLength(file_name):
    file = open(file_name)
    contents = file.read()
    file.close()
    print(len(contents))

In [22]:
 fileLength('iris.csv')

3716

In [23]:
 fileLength('ris.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'ris.csv'

In [24]:
def fileLength(file_name):
    try:
        file = open(file_name) ## Try opening the file
    except (FileNotFoundError, IOError): ## Catch file not found exception
        print("The file has not been found") ## Print user friendly message
        return
    contents = file.read()
    file.close()
    print(len(contents))

In [25]:
fileLength('iris.csv')

3716

In [26]:
fileLength('ris.csv')

The file has not been found

## Question 3
### Write a class named Marsupial that can be used as shown below:

In [75]:
class Marsupial:
    pouch = []
    def put_in_pouch(self,stuff):
        self.pouch.append(stuff)
    
    def pouch_contents(self):
        print(self.pouch)

In [62]:
 m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [76]:
class Kangaroo(Marsupial):
    x = 0
    y = 0
    
    def __init__(self, dx, dy):
        self.x = dx
        self.y = dy
    
    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
    
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [77]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [78]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4
### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

In [80]:
def collatz(x):
    print(x)
    if x != 1:
        if x%2 == 0:
            x = x/2
        else:
            x = 3*x + 1
        collatz(x)

In [81]:
collatz(1)

1

In [82]:
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

## Question 5
### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [83]:
def binary(n):
    if n > 1:
        binary(n//2)
    print(n % 2,end = '')

In [84]:
 binary(0)

0

In [85]:
 binary(1)

1

In [86]:
 binary(3)

11

In [87]:
 binary(9)

1001

### Question 6
## Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [90]:
infile = open('w3c.html')
content = infile.read()
infile.close()

## Question 8
### Write SQL queries on the below database table that return:
we assume all the column names are in lowercase without the parantehsis. the table name is weather_tb

#### a) All the temperature data.

select temprature from weather_tb

#### b) All the cities, but without repetition.

select DISTINCT city from weather_tb

#### c) All the records for India.

select * from weather_tb where country='India'

#### d) All the Fall records.

select * from weather_tb where Season='Fall'

#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

select city,country,season from weather_tb where rainfall >= 200 and rainfall <=400

#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

select city,country from weather_tb where temprature > 20 order by temperature asc

#### g) The total annual rainfall for Cairo.

select sum(rainfall) from weather_tb where city='Cairo'

#### h) The total rainfall for each season.

select Season, sum(rainfall) from weather_tb group by season

## Question 9
### Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [97]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### Write list comprehension expressions that use list words and generate the following lists:

#### a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [100]:
new_words = [word.upper() for word in words ]
print(new_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [101]:
new_words = [word.lower() for word in words ]
print(new_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [102]:
new_words = [len(word) for word in words ]
print(new_words)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [103]:
new_words = [(word.upper(),word.lower(),len(word)) for word in words ]
print(new_words)

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

#### e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [104]:
new_words = [word for word in words if len(word) >=4 ]
print(new_words)

['quick', 'brown', 'jumps', 'over', 'lazy']